body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1{
    font-size: 2.5rem;
    color: #121212;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #707070;
}
.banner h1{
    font-size: 3.5rem;
    margin-top: 150px;
    color: white;
}
.banner p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 30px;
    color: white;
}
.flexiable{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    text-align: center;
}
.donate-btn{
    text-decoration: none;
    background-image: linear-gradient(crimson, orangered);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.banner{
    background-image: url(./images/donation.jpg);
	height: 80vh;
	width: 100%;
    background-size: cover;
}
.donate-today{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    text-align: center;
}
.amount-container{
    width: 80px;
    height: 100px;
    margin: 20px 10px;
    background-color: #fafafa;
    padding: 0 20px;
    border-radius: 5px;
}
.amount-container h2{
    color: #707070;
}
.color{
    border: 2px solid #ff5959;
    background-color: #ffeeee;
}
.color h2{
    color: #ff5959;
}
input{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    width: 50%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.container-donate{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    text-align: center;
} 
.container-plan{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 50px;
    padding: 0 20px;
} 
.donate-plan-container{
    margin: 10px;
    border-radius: 5px;
}
#donate-plan-food{
    width: 300px;
    height: 250px;
    padding: 30px;
    background-color: #d8eaec;
}
#donate-plan-shelter{
    width: 300px;
    height: 250px;
    padding: 30px;
    background-color: #f1dede;
}
#donate-plan-education{
    width: 300px;
    height: 250px;
    padding: 30px;
    background-color: #fff4d6;
}
.donation{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.container-donation{
    width: 493px;
    margin-right: 50px;
}
.container-donation-image img{
    width: 456px;
    height: 477px;
}
.suvive{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.container-suvive{
    width: 493px;
    margin-left: 50px;
}
.container-suvive-image img{
    width: 456px;
    height: 477px;
}
.updates{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.container-updates{
    text-align: center;
}
.subscribe{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
.form{
    width: 700px;
    height: 150px;
    background: #FFF4D6;
}
.form input{
    border: none;
    padding: 10px;
    text-align: left;
    background: #aa9f9f;
}
.form button{
    padding: 12px;
    color: white;
    background: #ff5959;
}
.container-subscriber{
    width: 100%;
    height: 100%;
}
.subscriber-container{
    margin: 10px;
}
.subscriber-container img{
    width: 456px;
    height: 477px;
}









footer{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #ff5959;
}
footer p{
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: #D9DBE1;
}

